.navbar {
  background-color: #339CFF;
  height: 70px;
}

.Nav-logo {
  height: 60px;
}

.Nav-shoe {
  height: 60px;
  margin-left: 30px;
  float:left;
}

.app-name {
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.all-nav-bar-links{
  float: left;
  margin-left: 190px;
  margin-top: -26px;
}
.all-nav-bar-links a{
  margin-left:10px;
  text-decoration: none;
  color: white;
  background-color: #136c98;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14pt;
}
