.comment-container {
  border: #339CFF 2px solid;
  background-color: white;
  height: auto;
  width: 330px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 5px;
}

.comment-container-input {
  border: #339CFF 2px solid;
  background-color: white;
  height: 120px;
  width: 340px;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 5px;
  margin-bottom:15px;
  position: relative;
  z-index:1;
}

.comment-post-button {
  float: right;
  margin-right: 10px;
}

.walk-comment-input {
  margin:10px;
  width: 315px;
  height: 90px;
  max-height: 90px;
  max-width: 315px;
  font-size: 16pt;
}

.message-user {
  padding-top: 5px;
  padding-left: 5px;
  width: 255px;
  font-weight: bold;
  font-size: 13pt;
  border-bottom: lightblue 1px solid;
  margin-left: 10px
}

.message-content {
  padding-top: 10px;
  padding-left: 5px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 6px;
  font-size: 15pt;
}

.profile-sidebar {
  background-color: lavender;
  border-radius: 10px;
  width: 375px;
  height: 700px;
  overflow: auto;
}

.profile-input-sidebar {
  background-color: #bdbdff;
  border-radius: 10px;
  width: 375px;
  height: 800px;
  padding-top: 5px;
  margin-top: 10px;
}

.profile-info {
  position: relative;
  bottom:800px;
  width: 1000px;
  border-radius: 5px;
  margin-left: 450px;
}

.profile-walk-name {
  height:30px;
  padding-top:5px;
  padding-left:5px;
}

.profile-walk-description{
  height:auto;
  padding:20px;
  font-size: 18pt;
  font-weight:lighter;
}

.profile-walk-time{
  height:30px;
  padding-top:5px;
  padding-left:5px;
}

.grid-profile-walk-photos{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: auto;
}

.grid-photo-item{
  text-align:center;
  height: 20px;
  width: 20px;
}
